body {
		margin: 0;
		padding: 0;

		font-family: sans-serif;
}

.App {
		text-align: center;
}

.App-header {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: flex-start;

		min-height: 100vh;
		padding-top: 20px;

		background-color: #282c34;

		font-size: calc(10px + 2vmin);
		color: white;
}

.App-link {
		color: #61dafb;
}

h3 {
		margin: 0;
}

ul {
		width: 60%;
		margin: 0 auto;
		padding: 0;

		text-align: center;
}

li {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: flex-start;

		width: 50%;
		min-height: 100px;
		margin: 30px auto;
		overflow: hidden;

		background-color: #1e2127;
		box-shadow: 5px 5px 10px rgb(255 255 255 / 0.2);
		border-radius: 3px;

		list-style: none;
}

.nombre {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 100px;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;

		font-size: 16px;
}

img {
		width: 100px;
}
